*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: monospace;
}
.row
{
    max-width: 1200px;
    margin: auto;
}

.main-nav
{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.main-nav li
{
    display: inline-block;
}

.main-nav li.active a
{
    border: 1px solid white;
    
}

.main-nav li a:hover
{
    border: 1px solid white;
}


.main-nav li a
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.hero
{
    position: absolute;
    width: 1200px;
    margin-left: 0px;
    margin-top: 0px;
    
}

h1
{
    color: white;
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
    margin-top: 200px;
    
}
header
{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(image.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.button
{
    margin-top: 30px;
    margin-left: 300px;
}

.btn
{
    border: 1px solid white;
    padding: 10px 60px;
    color: white;
    text-decoration: none;
    margin-right: 5px;
    font-size: 13px;
    text-transform: uppercase;
}
.btn-one
{
    background-color: red;
    font-family: "Roboto", sans-serif;
}

.btn-two
{
	background-color: lightblue;
    font-family: "Roboto", sans-serif;
}


.btn-three
{
    background-color: purple;
    font-family: "Roboto", sans-serif;
}


.btn-four
{
    background-color: lightgreen;
    font-family: "Roboto", sans-serif;
}

.btn-one:hover
{
    background-color: gray;
    transition: all 1s ease-in;   
}
.btn-two:hover
{
    background-color: gray;
    transition: all 1s ease-in; 
}

.btn-three:hover
{
    background-color: gray;
    transition: all 1s ease-in;  
}
.btn-four:hover
{
    background-color: white;
    transition: all 1s ease-in;   
}

.logo img
{
    width: 150px;
    height: auto;
}












