*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: monospace;
}
.row
{
    max-width: 1200px;
    margin: auto;
}

.main-nav
{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.main-nav li
{
    display: inline-block;
}

.main-nav li.active a
{
    border: 1px solid white;
    
}

.main-nav li a:hover
{
    border: 1px solid white;
}


.main-nav li a
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.hero
{
    position: absolute;
    width: 1200px;
    margin-left: 0px;
    margin-top: 0px;
    
}


h1
{
    color: white;
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
    margin-top: 275px;
    
}
header
{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(image.jpg);
    height: 120vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.button
{
    margin-top: 30px;
    margin-left: 440px;
}

.btn
{
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    margin-right: 5px;
    font-size: 13px;
    text-transform: uppercase;
}
.btn-one
{
    background-color: green;
    font-family: "Roboto", sans-serif;
}

.btn-two
{
    font-family: "Roboto", sans-serif;
}


.btn-two:hover
{
    background-color: darkred;
    transition: all 0.5s ease-in;
    
        
}

.logo img
{
    width: 150px;
    height: auto;
}


.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:300;
  left: 200;
  width: 100%;
  height: 100%;
}
.iframe-container2{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container2 iframe{
  position: absolute;
  top:300;
  left: -200;
  width: 100%;
  height: 100%;
}
.iframe-container3{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container3 iframe{
  position: absolute;
  top:300;
  left: -600;
  width: 100%;
  height: 100%;
}
.iframe-container4{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container4 iframe{
  position: absolute;
  top:300;
  left: -1000;
  width: 100%;
  height: 100%;
}
.iframe-container5{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container5 iframe{
  position: absolute;
  top:550;
  left: -1000;
  width: 100%;
  height: 100%;
}
.iframe-container6{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container6 iframe{
  position: absolute;
  top:550;
  left: -600;
  width: 100%;
  height: 100%;
}

.iframe-container7{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container7 iframe{
  position: absolute;
  top:550;
  left: -200;
  width: 100%;
  height: 100%;
}
.iframe-container8{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container8 iframe{
  position: absolute;
  top:550;
  left: 200;
  width: 100%;
  height: 100%;
}
.iframe-container9{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container9 iframe{
  position: absolute;
  top:800;
  left: -1000;
  width: 100%;
  height: 100%;
}
.iframe-container10{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container10 iframe{
  position: absolute;
  top:800;
  left: -600;
  width: 100%;
  height: 100%;
}
.iframe-container11{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container11 iframe{
  position: absolute;
  top:800;
  left: -200;
  width: 100%;
  height: 100%;
}